
/* ==================================================================== */
/* RangeSlider style settings */

.rc-slider-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    cursor: pointer;
    cursor: -webkit-grab;
    margin-top: -5px;
    cursor: grab;
    border-radius: 50%;
    border: solid 2px #fe7000 ;
    background-color: #ffd2b0;
    touch-action: pan-x;
    outline: none;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    border-color: #ffd2b0;
    box-shadow: 0 0 0 4px #ffd2b0;
}


.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging,.rc-slider-handle:hover,.rc-slider-dot-active, .rc-slider-step, .rc-slider-handle-click-focused:focus{
    background-color:#ffd2b0;
    border-color:#fe7000;
    outline: none;
}

/* RangeSlider style settings */
/* ==================================================================== */
/* Dropdown style settings */

.Select--multi .Select-value, .Select-value{
    background-color: #ffd2b0 !important;
    border-radius: 2px;
    color: black !important;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.4;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
}


input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffd2b0;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #fe7000;
}

/* Dropdown style settings */
/* ==================================================================== */
/* Cards style settings */

.card-fields{
    top: 40px;
    position: relative;
    display: flex
}   

.card-text{
    font-size: 22px;
    font-family: HeadingProDouble-Regular,sans-serif;

}

.total-review-card{
    position: relative;
    width: 100px;
    height: 40px;
    border-style: double;
    padding: 25px;
    font-size: 16px;
    text-align: center;
    margin-left: 75px;
}

.avg-rating-card{
    position: relative;
    width: 100px;
    height: 40px;
    border-style: double;
    padding: 25px;
    font-size: 16px;
    text-align: center;
    margin-left: 75px;
}

.pct-positive{
    position: relative;
    width: 100px;
    height: 40px;
    border-style: double;
    padding: 25px;
    font-size: 16px;
    text-align: center;
    margin-left: 75px;
}

.pct-negative{
    position: relative;
    width: 100px;
    height: 40px;
    border-style: double;
    padding: 25px;
    font-size: 16px;
    text-align: center;
    margin-left: 75px;
    
}

.body-div{
    position: relative;
    display: flex;
}

/* Cards style settings */
/* ==================================================================== */
/* Barchart style settings */

div[id='graph-bar'].dash-graph {
    position: relative;
    top: 75px;
    left: 0px;
    height: 500px;
    width: 500px;
}

/* Barchart style settings */
/* ==================================================================== */
/* Scatterchart style settings */

div[id='graph-scatter'].dash-graph {
    position: relative;
    top: -420px;
    left: 450px;
    width: 475px;
    height: 420px;
}

/* Scatterchart style settings */
/* ==================================================================== */
/* Linechart style settings */

div[id='graph-line'].dash-graph {
    position: relative;
    top: -325px;
    left: 0px;
    width: 925px;
    height: 420px;
}

/* Linechart style settings */
/* ==================================================================== */
/* Table style settings */

.table-div{
    position: relative;
    top:-275px;
    left:10px;
    width: 900px;
}

.table_tabs{
    position: relative;
    top:-275px;
    left:10px;
    width: 600px;
    text-align: center;
    align-items: center;
}

/* Table style settings */
/* ==================================================================== */


/* ==================================================================== */
                                /* 1920 x 1080 screen*/
/* ==================================================================== */


@media only screen and (min-width: 1920px) {
    .total-review-card{
        position: relative;
        width: 100px;
        height: 40px;
        border-style: double;
        padding: 45px;
        font-size: 16px;
        text-align: center;
        margin-left: 150px;
    }

    .avg-rating-card{
        position: relative;
        width: 100px;
        height: 40px;
        border-style: double;
        padding: 45px;
        font-size: 16px;
        text-align: center;
        margin-left: 150px;
    }
    
    .pct-positive{
        position: relative;
        width: 100px;
        height: 40px;
        border-style: double;
        padding: 45px;
        font-size: 16px;
        text-align: center;
        margin-left: 150px;
    }
    
    .pct-negative{
        position: relative;
        width: 100px;
        height: 40px;
        border-style: double;
        padding: 45px;
        font-size: 16px;
        text-align: center;
        margin-left: 150px;
        
    }
        /* Barchart style settings */

    div[id='graph-bar'].dash-graph {
        position: relative;
        top: 75px;
        left: 50px;
        height: 700px;
        width: 700px;
    }

    div[id='graph-scatter'].dash-graph {
        position: relative;
        top: -620px;
        left: 750px;
        width: 675px;
        height: 620px;
    }
    div[id='graph-line'].dash-graph {
        position: relative;
        top: -525px;
        left: 50px;
        width: 1400px;
        height: 620px;
    }

    .table-div{
        position: relative;
        top:-475px;
        left:50px;
        width: 1400px;
    }
    
    .table_tabs{
        position: relative;
        top:-475px;
        left:50px;
        width: 600px;
        text-align: center;
        align-items: center;
    }
  }

/* ==================================================================== */
                                /* 1920 x 1080 screen*/
/* ==================================================================== */